<h1>Scoreboard</h1>

<p>
Please update by pressing your F5 key.
</p>

<p>
<table class='table table-striped'>
  <tr>
    <th>Place</th>
    <th>Team name</th>
    <th>Score</th>
    <th></th>
<% @contest.problems.each do |problem| %>
    <th><%= problem.title %></th>
<% end %>
  </tr>

<% groups_to_show.each_with_index do |group, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= group.name %></td>
    <td><%= group.score_for(@contest) %></td>
    <td>
      <a href="#" data-toggle="tooltip" title="first tooltip">hover over me</a>
      <a href="#" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</a>
      small
      <br>
      large
    </td>
<% @contest.problems.each do |problem| %>
    <td>
      <% delimiter = '' %>
      <% attendances = group.attendances_for(@contest) %>
<% [:small, :large].each do |type| %>
      <% s = group.solved_submission_for(attendances, problem, type) %>
      <%= s ? raw("#{s.score} / #{type == :small ? s.problem.small_score : s.problem.large_score} <span style='color: #7d7d7d; font-size: 80%;'>(#{format_date(s.created_at)})</span>") : '-' %>
      <br>
<% end %>
    </td>
<% end %>
  </tr>
<% end %>
</table>
</p>

<script>
$(function(){
  $('a[rel=tooltip]').tooltip();
});
</script>
