<h1>Score board</h1>

<p>
Please update by pressing your F5 key.
</p>

<p>
<table class='table table-striped'>
  <tr>
    <th>Place</th>
    <th>Team name</th>
    <th>Score</th>
    <th>Last solved time</th>
<% @contest.problems.each do |problem| %>
    <th><%= problem.title %></th>
<% end %>
  </tr>

<% Group.each_with_index do |group, index| # TODO: Fix proper groups %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= group.name %></td>
    <td><%= group.score_for(@contest) %></td>
    <td><%= format_date(submit.updated_at) %></td>
<% @contest.problems.each do |problem| %>
    <td>
      <%= submit.solved? ? format_date(submit.solved_time) : 'Not solved yet' %>
    </td>
<% end %>
  </tr>
<% end %>
</table>
</p>
