<h1>Scoreboard</h1>

<p>Press F5 to Update. </p>

<table class='table table-striped'>
  <tr>
    <th class='center'>Place</th>
    <th>Team Name</th>
    <th class='center'>Score</th>
    <th class='center'>Variance</th>
    <% @problems.each do |problem| %>
      <th class='center'>
        <%= tooltip problem.title do %>
          <%= problem.prefix %>
        <% end %>
        <div>
          <% Problem::TYPES.each do |type| %>
            <div class='score-label'>
              <%= tooltip "Maximum Score for #{type.to_s.capitalize}" do %>
                <%= score_label(problem, type) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </th>
    <% end %>
  </tr>

  <% groups_to_show(@contest).each_with_index do |group, index| %>
    <tr>
      <td class='center'><%= index + 1 %></td>
      <td><%= group.name %></td>
      <td class='center'><%= group.score_for(@contest) %></td>
      <td class='center'><%= group.variance_for(@contest).round(2) %></td>
      <% @problems.each do |problem| %>
        <td class='center'>
          <div>
            <% Problem::TYPES.each do |type| %>
              <div class='right'>
                <% submission = @submissions_table.try(:[], group.id).try(:[], problem.id).try(:[], type) %>
                <% text = submission ? "Solved at #{format_date(submission.created_at)}" : "Not Yet Solved" %>
                <%= tooltip "Score Acquired for #{type.to_s.capitalize}<br>#{text}", html: true do %>
                  <%= submission.try(:score) || '-' %>
                <% end%>
              </div>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
