<h1>Score board</h1>

<p>
Please update by pressing your F5 key.
</p>

<p>
<table class='table table-striped'>
  <tr>
    <th>Place</th>
    <th>Team name</th>
    <th>Score</th>
    <th>Last solved time</th>
<% @contest.problems.each do |problem| %>
    <th><%= problem.title %></th>
<% end %>
  </tr>

<% scores_to_show.each_with_index do |score, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= score.user.name %></td>
    <td><%= score.score %></td>
    <td><%= score.updated_at %></td>
<% @contest.problems.each do |problem| %>
    <td>
      <div>
        <%= score.solved_time(problem, 'small') ?
          format_date(score.solved_time(problem, 'small')) :
          'Not yet (' + score.wrong_count(problem, 'small').to_s + ' failures)' %>
      </div>
      <div>
        <%= score.solved_time(problem, 'large') ?
          format_date(score.solved_time(problem, 'large')) :
          'Not yet (' + score.wrong_count(problem, 'large').to_s + ' failures)' %>
      </div>
    </td>
<% end %>
  </tr>
<% end %>
</table>
</p>
