<h1>Score board</h1>

<p>
Please update by pressing your F5 key.
</p>

<p>
<table class='table table-striped'>
  <tr>
    <th>Place</th>
    <th>Team name</th>
    <th>Score</th>
<% @contest.problems.each do |problem| %>
<% [:small, :large].each do |type| %>
    <th><%= problem.title %> (<%= type %>)</th>
<% end %>
<% end %>
  </tr>

<% groups_to_show.each_with_index do |group, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= group.name %></td>
    <td><%= group.score_for(@contest) %></td>
<% @contest.problems.each do |problem| %>
<% [:small, :large].each do |type| %>
    <td>
      <% attendances = group.attendances_for(@contest) %>
      <% s = group.solved_submission_for(attendances, problem, type) %>
      <%= s ? "#{format_date(s.created_at)} (#{s.score})" : 'Not solved yet' %>
    </td>
<% end %>
<% end %>
  </tr>
<% end %>
</table>
</p>
