<h1>Score board</h1>

<p>
Please update by pressing your F5 key.
</p>

<p>
<table class='table table-striped'>
  <tr>
    <th>Place</th>
    <th>Team name</th>
    <th>Score</th>
<% @contest.problems.each do |problem| %>
    <th><%= problem.title %></th>
<% end %>
  </tr>

<% Group.each_with_index do |group, index| # TODO: Fix proper groups %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= group.name %></td>
    <td><%= group.score_for(@contest) %></td>
<<<<<<< HEAD
=======
    <td><%= format_date(submit.updated_at) %></td>
>>>>>>> e446ce2f5826c3549549c91b72fe4b01a50245c5
<% @contest.problems.each do |problem| %>
<% [:small, :large].each do |type| %>
    <td>
      <% attendances = group.attendances_for(@contest) %>
      <% s = group.correct_submission_for(attendances, problem, type) %>
      <%= s ? format_date(s.created_at) : 'Not solved yet' %>
    </td>
<% end %>
<% end %>
  </tr>
<% end %>
</table>
</p>
