<h1>Scoreboard</h1>

<p>
Press F5 to Update.
</p>

<p>
<table class='table table-striped'>
  <tr>
    <th class='center'>Place</th>
    <th>Team Name</th>
    <th class='center'>Score</th>
<% @contest.problems.each do |problem| %>
    <th class='center'>
      <%= problem.title %>
      <br>
<% [:small, :large].each do |type| %>
      <% if type == :large %>
        /
      <% end %>
      <a href="#" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Maximum Score for <%= type.to_s.capitalize %>">
        <%= type == :small ? problem.small_score : problem.large_score %>
      </a>
<% end %>
    </th>
<% end %>
  </tr>

<% groups_to_show.each_with_index do |group, index| %>
  <tr>
    <td class='center'><%= index + 1 %></td>
    <td><%= group.name %></td>
    <td class='center'><%= group.score_for(@contest) %></td>
<% @contest.problems.each do |problem| %>
    <td class='center'>
      <% delimiter = '' %>
      <% attendances = group.attendances_for(@contest) %>
<% [:small, :large].each do |type| %>
      <% if type == :large %>
        /
      <% end %>
      <% s = group.solved_submission_for(attendances, problem, type) %>
      <% text = "Score Acquired for " + type.to_s.capitalize %> 
      <% if s %>
        <% text += "<br>Solved at " + format_date(s.created_at) %>
      <% end %>
      <a href="#" rel="tooltip" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= text %>">
        <% if s %>
          <%= s.score %>
        <% else %>
          -
        <% end %>
      </a>
<% end %>
    </td>
<% end %>
  </tr>
<% end %>
</table>
</p>
