<%= javascript_tag do %>
  $(document).ready(function () {
    var opt = {
      'dateFormat': 'yy/mm/dd',
      'timeFormat': 'hh:mm'
    };
    $('#start_datetime_picker').datetimepicker(opt);
    $('#end_datetime_picker').datetimepicker(opt);
  });
<% end %>

<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_time%><br>
    <%= f.text_field :start_time, { id: 'start_datetime_picker' } %>
  </div>
  <div class="field">
    <%= f.label :end_time%><br>
    <%= f.text_field :end_time, { id: 'end_datetime_picker' } %>
  </div>
  <div class="field">
    <%= f.label :introduction %><br>
    <%= f.text_field :introduction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
