<h1>Contest List</h1>

<p>
<table class='table table-striped'>
  <tr>
    <th>Contest Name</th>
    <th>Description</th>
    <th>Contest Period</th>
    <th>Attendance</th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= link_to contest.name, contest_problems_path(contest) %></td>
    <td><%= contest.introduction %></td>
    <td><%= format_date(contest.start_time) %> - <%= format_date(contest.end_time) %>
    <td>
	<% if !@current_user.attended? contest%>
	    <%= link_to "attend", {:action=> "attend", :id=> contest.id}, :class=> "btn btn-mini" %>
	<% else %>
	    <div class="label label-success"> attended </div>
	<% end %>
    </td>
  </tr>
<% end %>
</table>
</p>

<div class="alert alert-info">
  <% if @current_user.is_admin %>
    <h2>You are Admin</h2>
    <br>
    <%= button_to 'Become Contestant', demote_users_path, { class: 'btn btn-success' } %>
  <% else %>
    <h2>You are Contestant</h2>
    <br>
    <%= button_to 'Become Admin', promote_users_path, { class: 'btn btn-success' } %>
  <% end %>
</div>
