<h1>コンテスト一覧</h1>

<table class='table table-striped'>
  <tr>
    <th>コンテスト名</th>
    <th>説明</th>
    <th>開催期間</th>
    <% if @current_user && @current_user.is_admin %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @contests.asc(:start_time).each do |contest| %>
  <tr>
    <td><%= link_to contest.name, contest_problems_path(contest) %></td>
    <td><%= contest.introduction %></td>
    <td><%= format_date(contest.start_time) %> - <%= format_date(contest.end_time) %>
    <% if @current_user && @current_user.is_admin %>
      <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
      <td><%= link_to 'Destroy', contest, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @current_user && @current_user.is_admin %>
  <%= link_to 'New Contest', new_contest_path %>
<% end %>
