<h1>Listing contests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Introduction</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.name %></td>
    <td><%= contest.introduction %></td>
    <td><%= link_to 'Problems', contest_problems_path(contest) %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest', new_contest_path %>
