<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contest.name %>
</p>

<p>
  <b>Introduction:</b>
  <%= @contest.introduction %>
</p>


<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
