<h2><%= @problem.title %></h2>

<p>
  <b>Content:</b>
</p>
<%= @problem.content %>
<br />

<p>
  <b>Input:</b>
</p>
<%= @problem.input %>
<br />

<p>
  <b>Output:</b>
</p>
<%= @problem.output %>
<br />

<p>
  <b>Limit:</b>
</p>
<%= @problem.limit %>
<br />

<p>
  <b>Sample Input:</b>
</p>
<%= @problem.sample_input %>
<br />

<p>
  <b>Sample Output:</b>
</p>
<%= @problem.sample_output %>
<br />


<br />
<br />


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
