<p>
  <b>UID:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Group:</b>
  <%= @user.group.name %>
  <br>
  <%= link_to 'See Groups', groups_path %>
</p>

<%= link_to 'Edit', edit_users_path %>
