<%= javascript_tag do %>
  $(function () {
    var timeoutId = null;
    var get_converted_markdown = function () {
      timeoutId = null;
      var md_text = $("#markdown_textarea").val();
      $.get("/", { markdown: md_text }, function (data) {
        $("#markdown_preview").html(data);
      });
    };
    $("#markdown_textarea").keydown(function (event) {
      if (timeoutId) clearTimeout(timeoutId);
      timeoutId = setTimeout(get_converted_markdown, 1000);
    });
  });
<% end %>

<%= form_for(@problem, :url => {:action=>action}) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>
      <ul>
      <% @problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <div class="row">
      <div class="span6">
        <%= f.text_area :description, {id: 'markdown_textarea'} %>
      </div>
      <div id="markdown_preview" class="problem_description span5">
        <%= raw @problem.description_html %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :small_input %><br />
    <%= f.text_area :small_input %>
  </div>
  <div class="field">
    <%= f.label :small_output %><br />
    <%= f.text_area :small_output %>
  </div>
  <div class="field">
    <%= f.label :small_score %>
    <%= f.text_field :small_score %>
  </div>
  <div class="field">
    <%= f.label :large_input %><br />
    <%= f.text_area :large_input %>
  </div>
  <div class="field">
    <%= f.label :large_output %><br />
    <%= f.text_area :large_output %>
  </div>
  <div class="field">
    <%= f.label :large_score %>
    <%= f.text_field :large_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
