<%= javascript_tag do %>
  $(function () {
    var timeoutId = null;
    var get_converted_markdown = function () {
      timeoutId = null;
      var md_text = $("#markdown_textarea").val();
      $.post("<%= ajax_convert_markdown_path %>", { markdown: md_text }, function (data) {
        $("#markdown_preview").html(data);
      });
    };
    $("#markdown_textarea").keydown(function (event) {
      if (timeoutId) clearTimeout(timeoutId);
      timeoutId = setTimeout(get_converted_markdown, 1000);
    });
    $(document).ready(function () {
      $('#markdown_textarea').autosize();
      get_converted_markdown();
    });

    var dummy = $('#file_uploader_dummy'),
        uploader = $('#file_uploader'),
        form = $('#file_uploader_form'),
        result = $('#file_uploader_result');
    dummy.click(function () {
      uploader.click();
      return false;
    });
    uploader.change(function () {
      console.log('uploader changed');
      form.submit();
    });
    form.submit(function () {
      console.log('form submitted');
      result.unbind().bind('load', function () {
        var res = result.contents().find('body').text();
        var data = JSON.parse(res);

        $('#image_list').append('<li><img src="' + data.thumbnail + '">' + data.url + '</li>');
        $('#markdown_textarea').val($('#markdown_textarea').val() + '![](' + data.url + ')');
        get_converted_markdown();
      });
    });

  });
<% end %>

<%= form_tag ajax_upload_image_path, { multipart: true, id: 'file_uploader_form', target: 'uploader' }  do %>
  <%= file_field :image, :attachment, { id: 'file_uploader', class: 'hidden_elem' } %>
<% end %>

<%= form_for(@problem, :url => {:action=>action}) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>
      <ul>
      <% @problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="row">
    <div class="span6">
      <div class="field">
        <%= f.label :description %><br>
        <%= button_to_function 'upload image', '', { id: 'file_uploader_dummy', class: 'btn' } %>
        <iframe id="file_uploader_result" class="hidden_elem" name="uploader"></iframe>
        <br>
        <ul id="image_list">
        </ul>
        <br>
        <%= f.text_area :description, {id: 'markdown_textarea'} %>
      </div>
      <div class="field">
        <%= f.label :small_input %><br>
        <%= f.text_area :small_input %>
      </div>
      <div class="field">
        <%= f.label :small_output %><br>
        <%= f.text_area :small_output %>
      </div>
      <div class="field">
        <%= f.label :small_score %>
        <%= f.text_field :small_score %>
      </div>
      <div class="field">
        <%= f.label :large_input %><br>
        <%= f.text_area :large_input %>
      </div>
      <div class="field">
        <%= f.label :large_output %><br>
        <%= f.text_area :large_output %>
      </div>
      <div class="field">
        <%= f.label :large_score %>
        <%= f.text_field :large_score %>
      </div>
    </div>
    <div class="span5">
      <p><b>Preview:</b></p>
      <div id="markdown_preview" class="problem_description">
        <%= raw @problem.description_html %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
