<h1>Listing problems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Small Score</th>
    <th>Large Score</th>
    <th>Small Input</th>
    <th>Large Input</th>
    <th>Wrong Count</th>
    <th>Solved Time</th>
    <th></th>
    <% if @current_user && @current_user.is_admin %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= link_to(problem.title, problem.content_path, target: '_blank') %></td>
    <td><%= problem.small_score %></td>
    <td><%= problem.large_score %></td>
    <td>
      <%= link_to('Download', download_small_contest_problem_path(@contest, problem)) %>
    </td>
    <td>
      <%= link_to('Download', download_large_contest_problem_path(@contest, problem)) %>
    </td>
    <td><%= @current_user.wrong_count(problem) %></td>
    <td><%= @current_user.solved_time(problem) || 'Not yet' %></td>
    <td><%= link_to 'Submit', contest_problem_path(@contest, problem) %></td>
    <% if @current_user && @current_user.is_admin %>
      <td><%= link_to 'Edit', edit_contest_problem_path(@contest, problem) %></td>
      <td><%= link_to 'Destroy', contest_problem_path(@contest, problem), confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @current_user && @current_user.is_admin %>
  <%= link_to 'New Problem', new_contest_problem_path %>
<% end %>
