<h1>Problem list</h1>

<p>
<%= link_to 'Score board', contest_score_path %>
</p>

<p>
<table class='table table-striped'>
  <tr>
    <th>Problem name</th>
    <th>Input sizes</th>
    <th>Scores</th>
    <th>Download inputs</th>
    <th>Solved time</th>
    <th></th>
    <% if @current_user && @current_user.is_admin %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @problems.asc(:title).each do |problem| %>
  <tr>
    <td><%= link_to(problem.title, problem.content_path, target: '_blank') %></td>
    <td>
      Small
      <br />
      Large
    </td>
    <td>
      <div>
      <%= problem.small_score %>
      </div>
      <div>
      <%= problem.large_score %>
      </div>
    </td>
    <td>
      <div>
      <%= link_to('Download Small', download_small_contest_problem_path(@contest, problem)) %>
      </div>
      <div>
      <%= link_to('Download Large', download_large_contest_problem_path(@contest, problem)) %>
      </div>
    </td>
    <td>
      <div>
        <%= @score.solved_time(problem, 'small')
          ? format_date(@score.solved_time(problem, 'small'))
          : 'Not yet (' + @score.wrong_count(problem, 'small').to_s + ')' %>
      </div>
      <div>
        <%= @score.solved_time(problem, 'large')
          ? format_date(@score.solved_time(problem, 'large'))
          : 'Not yet (' + @score.wrong_count(problem, 'large').to_s + ')' %>
      </div>
    </td>
    <td>
      <div>
      <%= link_to 'Submit Small', contest_problem_path(@contest, problem, input_type: 'small') %>
      </div>
      <div>
      <%= link_to 'Submit Large', contest_problem_path(@contest, problem, input_type: 'large') %>
      </div>
    </td>
    <% if @current_user && @current_user.is_admin %>
      <td><%= link_to 'Edit', edit_contest_problem_path(@contest, problem) %></td>
      <td><%= link_to 'Destroy', contest_problem_path(@contest, problem), confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
</p>

<% if @current_user && @current_user.is_admin %>
  <%= link_to 'New Problem', new_contest_problem_path %>
<% end %>
