<h1>Problem list</h1>

<%= render "timer" %>

<%= flash[:problem_score].try { |b|
  content_tag(:div, class: 'alert'){
    if(b>=0)
      b > 0 ? 'Correct! You got ' + b.to_s + 'points!' : 'Wrong...'
    else
      'Correct! but that problem has been already solved!'
    end
  }
} %>

<p>
<%= link_to 'Score board', contest_score_path %>
</p>

<table class='table table-striped'>
  <tr>
    <th>Problem name</th>
    <th>Input sizes</th>
    <th>Scores</th>
    <th>Solved time</th>
  </tr>

<% @problems.asc(:title).each do |problem| %>
  <tr>
    <td><%= link_to problem.title, contest_problem_path(problem.contest, problem) %></td>
    <td>Small<br>Large</td>
    <td>
      <div><%= problem.small_score %></div>
      <div><%= problem.large_score %></div>
    </td>
    <td>
      <div>
        <%= @score.solved_time(problem, 'small') ?
          format_date(@score.solved_time(problem, 'small')) :
          'Not yet (' + @score.wrong_count(problem, 'small').to_s + ' failures)' %>
      </div>
      <div>
        <%= @score.solved_time(problem, 'large') ?
          format_date(@score.solved_time(problem, 'large')) :
          'Not yet (' + @score.wrong_count(problem, 'large').to_s + ' failures)' %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br>
<br>

<h2>Submission history</h2>
<div id="resultLog">
  <% Submit.desc(:updated_at).take(10).each do |s| %>
    <%= "#{s.score.user.name} (#{s.score.user.group.name}) submitted for #{s.problem.title} (#{s.problem_type}),
and its result was #{s.solved ? "correct" : "wrong"} at #{s.updated_at.strftime('%H:%M:%S')}." %>
  <br>
  <% end %>
</div>
