<h1>Problem list</h1>

<script type="text/javascript">
  var end_time = new Date("<%= @contest.end_time.to_s %>");
  function update()  {
    var diff = (end_time - new Date())/ 1000;
    $("#sec").html(
      Math.round(diff / 3600) +
      ":" + Math.round(diff % 3600 / 60) +
      ":" + Math.round(diff % 3600 % 60)
    );
  }
  function initilize() {
    update();
    setInterval(update, 500);
  };
  $(initilize);
</script>

<p>
<%= link_to 'Score board', contest_score_path %>
</p>

<table class='table table-striped'>
  <tr>
    <th>Problem name</th>
    <th>Input sizes</th>
    <th>Scores</th>
    <th>Solved time</th>
    <th></th>
    <% if @current_user && @current_user.is_admin %>
      <th></th>
    <% end %>
  </tr>

<% @problems.asc(:title).each do |problem| %>
  <tr>
    <td><%= link_to problem.title, contest_problem_path(problem.contest, problem) %></td>
    <td>Small<br>Large</td>
    <td>
      <div><%= problem.small_score %></div>
      <div><%= problem.large_score %></div>
    </td>
    <td>
      <div>
      <%= link_to('Download Small', download_small_contest_problem_path(@contest, problem)) %>
      </div>
      <div>
      <%= link_to('Download Large', download_large_contest_problem_path(@contest, problem)) %>
      </div>
    </td>
    <% if @current_user && @current_user.is_admin %>
      <td><%= link_to 'Edit', edit_contest_problem_path(@contest, problem) %></td>
      <td><%= link_to 'Destroy', contest_problem_path(@contest, problem), confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if @current_user && @current_user.is_admin %>
  <%= link_to 'New Problem', new_contest_problem_path %>
<% end %>
