<h1>Listing problems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Score</th>
    <th>Submit Small</th>
    <th>Submit Large</th>
    <th>Wrong Count</th>
    <th>Solved Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= link_to(problem.title, problem.content_path, target: '_blank') %></td>
    <td>100</td>
    <td>Submit Small</td>
    <td>Submit Large</td>
    <td><%= @current_user.wrong_count(problem) %></td>
    <td><%= @current_user.solved_time(problem) || 'Not yet' %></td>
    <td><%= link_to 'Show', contest_problem_path(@contest, problem) %></td>
    <td><%= link_to 'Edit', edit_contest_problem_path(@contest, problem) %></td>
    <td><%= link_to 'Destroy', contest_problem_path(@contest, problem), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_contest_problem_path %>
