<h1><%= @contest.name %></h1>

<br>

<%= flash[:solved].try { |b|
  b ? content_tag(:div, 'Correct! (' + flash[:score] + 'pt)', class: 'notification alert alert-success') : content_tag(:div, 'Wrong Answer ...', class: 'notification alert alert-error')
} %>

<h2 style="float: right;"><%= link_to 'Scoreboard', contest_score_path %></h2>

<h2>Problem List</h2>
<table class='table'>
  <tr>
    <th>Problem Name</th>
    <th class='center'>Input Size</th>
    <th class='center'>Score (Current / Max)</th>
    <th class='center'>Solved Time</th>
  </tr>

  <% @problems.order(:title).each do |problem| %>
    <% submissions = Problem::TYPES.map { |type| @current_user.group.solved_submission_for(problem, type) } %>
    <% solved_cnt = submissions.reject { |s| s.nil? }.size %>
    <tr class='<%= solved_cnt == 2 ? 'solved_both' : (solved_cnt== 1 ? 'solved_either' : '') %>'>
      <td><%= link_to problem.title, contest_problem_path(problem.contest, problem) %></td>
      <td class='center'>Small<br>Large</td>
      <td class='center '>
        <% Problem::TYPES.each do |type| %>
          <div><%= @contest.ended? ? 0 : calculate_score(problem.score(type)) %> / <%= problem.score(type) %></div>
        <% end %>
      </td>
      <td class='center'>
        <% submissions.each do |sbm| %>
          <div>
            <%= sbm ? "#{format_date(sbm.created_at)} (#{sbm.attendance.user.name})" : 'Not Yet' %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Submission History</h2>
<div id="resultLog">
  <table class='table table-striped'>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th>Problem</th>
      <th class='center'>Result</th>
      <th class='center'>Score (Acquired / Max)</th>
      <th class='center'>Submission Time</th>
    </tr>
    <% submissions_to_show.each do |s| %>
      <tr>
        <td><%= s.attendance.user.name %></td>
        <td><%= s.attendance.user.group.name %></td>
        <td><%= "#{s.problem.title} (#{s.problem_type.capitalize})" %></td>
        <td class='center'><%= "#{s.solved ? "Correct" : "Wrong"}" %></td>
        <td class='center'>
          <%= s.score %> / <%= s.problem.score(s.problem_type) %>
        </td>
        <td class='center'><%= s.updated_at.strftime('%H:%M:%S') %></td>
      </tr>
    <% end %>
  </table>
</div>

<h2>Group Members</h2>
<ul>
  <% @current_user.group.users.each do |user| %>
    <li><%= user.name_or_uid %>
  <% end %>
</ul>

