<h1>Problem list</h1>

<%= render "timer" %>

<%= flash[:solved].try { |b|
  content_tag(:div, class: 'alert'){ b ? 'Correct!' : 'Wrong...' }
} %>

<p>
<%= link_to 'Scoreboard', contest_score_path %>
</p>

<table class='table table-striped'>
  <tr>
    <th>Problem name</th>
    <th>Input sizes</th>
    <th>Scores</th>
    <th>Solved time</th>
  </tr>

<% @problems.asc(:title).each do |problem| %>
  <tr>
    <td><%= link_to problem.title, contest_problem_path(problem.contest, problem) %></td>
    <td>Small<br>Large</td>
    <td>
      <div><%= problem.small_score %></div>
      <div><%= problem.large_score %></div>
    </td>
    <td>
      <div>
        <% submission = @current_user.solved_submission_for(problem, :small) %>
        <%= submission ? format_date(submission.created_at) : 'Not yet' %>
      </div>
      <div>
        <% submission = @current_user.solved_submission_for(problem, :large) %>
        <%= submission ? format_date(submission.created_at) : 'Not yet' %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br>
<br>

<h2>Submission history</h2>
<div id="resultLog">
  <table class='table table-striped'>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th>Problem</th>
      <th>Result</th>
      <th>Score</th>
      <th>Submission time</th>
    </tr>
    <% Submission.in(attendance: @contest.attendance_ids).desc(:updated_at).take(10).each do |s| %>
    <tr>
      <td><%= "#{s.attendance.user.name}" %></td>
      <td><%= "#{s.attendance.user.group.name}" %></td>
      <td><%= "#{s.problem.title} (#{s.problem_type})" %></td>
      <td><%= "#{s.solved ? "correct" : "wrong"}" %></td>
      <td><%= "#{s.score}" %></td>
      <td><%= "#{s.updated_at.strftime('%H:%M:%S')}" %></td>
    </tr>
  <br>
  <% end %>
  </table>
</div>
