<h1>Listing problems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content Path</th>
    <th>Small Input</th>
    <th>Small Output</th>
    <th>Large Input</th>
    <th>Large Output</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.title %></td>
    <td><%= link_to(problem.content_path) %></td>
    <td><%= truncate(problem.small_input, {length: 30}) %></td>
    <td><%= truncate(problem.small_output, {length: 30}) %></td>
    <td><%= truncate(problem.large_input, {length: 30}) %></td>
    <td><%= truncate(problem.large_output, {length: 30}) %></td>
    <td><%= problem.published %></td>
    <td><%= link_to 'Show', contest_problem_path(@contest, problem) %></td>
    <td><%= link_to 'Edit', edit_contest_problem_path(@contest, problem) %></td>
    <td><%= link_to 'Destroy', contest_problem_path(@contest, problem), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_contest_problem_path %>
