<div class="page-header">
  <h1><%= @problem.title %></h1>
</div>
<%= render "timer" %>
<h2>Description</h2>
<div class="problem_description">
  <%= raw @problem.description_html %>
</div>

<p>
  Please submit your answer writing it on the 'Submission text' or uploading a answer file (not source code!).
  <br>
  答えをテキストボックスに入力するか、答えが記載されたファイル（ソースコードは不要）をアップロードしてください。
</p>

<h2>Small</h2>
<pre style="max-height: 200px; overflow: scroll"><%= @problem.small_input %></pre>
<% if @current_user.solved?(@problem, :small) %>
  <p>You have already solved small input</p>
<% else %>
  <button id="solve_small">Solve Small</button>
<% end %>
<%= form_tag({action: 'submit'}, multipart: true, id: 'form_small') do %>
  <%= hidden_field_tag 'input_type', :small %>
  <%= link_to 'Download Small Input', download_small_contest_problem_path(@contest, @problem) %>
  <div class="field">
    <h3>Submission file</h3>
    <%= file_field_tag 'files' %>
  </div>
  <div class="field">
    <h3>Submission text</h3>
    <%= text_area_tag 'text_area' %>
  </div>
  <div class="field">
    <%= submit_tag 'Submit', { class: 'btn' } %>
  </div>
<% end %>

<h2>Large</h2>
<pre style="max-height: 200px; overflow: scroll"><%= @problem.large_input %></pre>

<% if @current_user.solved?(@problem, :large) %>
  <p>You have already solved large input</p>
<% else %>
  <button id="solve_large">Solve Large</button>
<% end %>
<%= form_tag({action: 'submit'}, multipart: true, id: 'form_large') do %>
  <%= hidden_field_tag 'input_type', :large %>
  <%= link_to 'Download Large Input', download_large_contest_problem_path(@contest, @problem) %>
  <div class="field">
    <h3>Submission file</h3>
    <%= file_field_tag 'files' %>
  </div>
  <div class="field">
    <h3>Submission text</h3>
    <%= text_area_tag 'text_area' %>
  </div>
  <div class="field">
    <%= submit_tag 'Submit', { class: 'btn' } %>
  </div>
<% end %>
