<div class="page-header">
  <h1><%= @problem.title %></h1>
</div>
<h2>Description</h2>
<div class="problem_description">
  <%= raw @problem.description_html %>
</div>

<h2>Small</h2>
<pre style="max-height: 200px; overflow: scroll"><%= @problem.small_input %></pre>

<% if @problem.contest.ended? %>
  <%# show nothing %>
<% elsif @current_user.solved?(@problem, :small)  %>
  <p>You have already solved small.</p>
<% else %>
  <% submission = @current_user.group.solved_submission_for(@problem, :small) %>
  <% if submission %>
    <p><%= submission.attendance.user.name %> has already solved small at <%= format_date(submission.created_at) %>.</p>
  <% end %>
  <button id="solve_small">Solve Small</button>
<% end %>
<%= form_tag({action: 'submit'}, multipart: true, id: 'form_small') do %>
  <%= hidden_field_tag 'input_type', :small %>
  <%= link_to 'Download Small Input', download_small_contest_problem_path(@contest, @problem) %>
  <div class="field">
    <h3>Upload your output file</h3>
    <%= file_field_tag 'files' %>
  </div>
  <div class="field">
    <h3>Or write your answer here</h3>
    <%= text_area_tag 'text_area' %>
  </div>
  <div class="field">
    <strong>You don't have to submit your source code!</strong>
  </div>
  <div class="field">
    <%= submit_tag 'Submit', { class: 'btn' } %>
  </div>
<% end %>

<h2>Large</h2>
<pre style="max-height: 200px; overflow: scroll"><%= @problem.large_input %></pre>

<% if @problem.contest.ended? %>
  <%# show nothing %>
<% elsif @current_user.solved?(@problem, :large)  %>
  <p>You have already solved large.</p>
<% else %>
  <% submission = @current_user.group.solved_submission_for(@problem, :large) %>
  <% if submission %>
    <p><%= submission.attendance.user.name %> has already solved large at <%= format_date(submission.created_at) %>.</p>
  <% end %>
  <button id="solve_large">Solve Large</button>
<% end %>
<%= form_tag({action: 'submit'}, multipart: true, id: 'form_large') do %>
  <%= hidden_field_tag 'input_type', :large %>
  <%= link_to 'Download Large Input', download_large_contest_problem_path(@contest, @problem) %>
  <div class="field">
    <h3>Upload your output file</h3>
    <%= file_field_tag 'files' %>
  </div>
  <div class="field">
    <h3>Or write your answer here</h3>
    <%= text_area_tag 'text_area' %>
  </div>
  <div class="field">
    <strong>You don't have to submit your source code!</strong>
  </div>
  <div class="field">
    <%= submit_tag 'Submit', { class: 'btn' } %>
  </div>
<% end %>
