<h1>Problem List</h1>

<table class='table table-striped'>
  <tr>
    <th>Problem Name</th>
    <th class='center'>Input Size</th>
    <th class='center'>Score</th>
    <th></th>
    <th></th>
  </tr>

<% @problems.order(:title).each do |problem| %>
  <tr>
    <td><%= link_to problem.title, admin_contest_problem_path(@contest, problem) %></td>
    <td class='center'>Small<br>Large</td>
    <td class='center'>
      <div><%= problem.small_score %></div>
      <div><%= problem.large_score %></div>
    </td>
    <td><%= link_to 'Edit', edit_admin_contest_problem_path(@contest, problem) %></td>
    <td><%= link_to 'Destroy', admin_contest_problem_path(@contest, problem), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Problem', new_admin_contest_problem_path %>
<br>
<br>
