<h1>Submit your output</h1>

<%= render "timer" %>

<br>
<br>

<div class="field">
  <h3>Problem title</h3>
  <%= @problem.title %>
</div>
<div class="field">
  <h3>Description</h3>
  <div class="problem_description">
    <%= raw @problem.description_html %>
  </div>
</div>
<p class="field">
  <h3>Small input</h3>
  <%= content_tag :pre, @problem.small_input %>
</p>

<p class="field">
  <h3>Small output</h3>
  <%= content_tag :pre, @problem.small_output %>
</p>

<p class="field">
  <h3>Large input</h3>
  <%= content_tag :pre, @problem.large_input %>
</p>

<p class="field">
  <h3>Large output</h3>
  <%= content_tag :pre, @problem.large_output %>
</p>
