<!DOCTYPE html>
<html>
<head>
  <title>Wpcs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <%= link_to 'Waseda Programming Contest System', root_path, class: 'brand' %>

        <div class='nav-collapse collapse'>
          <ul class='nav'>
            <% if @authorized %>
              <% if @current_user.is_admin %>
                <li class="dropdwon">
                  <a href='#' class="dropdown-toggle" data-toggle="dropdown">CONTESTS<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'For Contestant', contests_path %></li>
                    <li><%= link_to 'For Admin', admin_contests_path %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to 'CONTESTS', contests_path %></li>
              <% end %>
            <% end %>
          </ul>
          <ul class='nav pull-right'>
            <% if @contest %>
              <% if @current_user.is_admin %>
                <% if @contest.name %>
                  <li class="dropdwon">
                    <a href='#' class="dropdown-toggle" data-toggle="dropdown"><%= @contest.name %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'For Contestant', contest_problems_path(@contest) %></li>
                      <li><%= link_to 'For Admin', admin_contest_problems_path(@contest) %></li>
                    </ul>
                  </li>
                <% end %>
              <% else %>
                <li><%= link_to @contest.name, contest_problems_path(@contest) %></li>
              <% end %>
              <li><a id='sec'></a><%= render :partial => "contests/timer" %></li>
            <% end %>
            <% if @authorized %>
              <% if @contest %>
                <li><a>Score: <%= @current_user.group.score_for(@contest) %> </a></li>
              <% end %>
              <li class="dropdown">
                <a href='#' class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.name_or_uid %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Account', users_path %>
                  <li><%= link_to 'Group', group_path(@current_user.group) %>
                  <li><%= link_to 'Logout', logout_users_path, method: 'POST' %>
                </ul>
            <% else %>
              <li><%= link_to 'Sign up', register_users_path %></li>
              <li><%= link_to 'Login', login_users_path %></li>
            <% end %>
            <li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <% if notice %>
      <div class="alert alert-success">
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-error">
        <p id="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
