<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Waseda Programming Contest System (WPCS)" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-flued-top navbar-inverse"">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'WPCS', root_path, class: 'brand' %>
          <div class="container nav-collapse">
            <ul class="nav">
              <% if @authorized %>
                <% if @current_user.is_admin %>
                  <li class="dropdwon">
                    <a href='#' class="dropdown-toggle" data-toggle="dropdown">CONTESTS<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'For Contestant', contests_path %></li>
                      <li><%= link_to 'For Admin', admin_contests_path %></li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to 'CONTESTS', contests_path %></li>
                <% end %>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <% if @contest %>
                <% if @current_user.is_admin %>
                  <% if @contest.name %>
                    <li class="dropdwon">
                      <a href='#' class="dropdown-toggle" data-toggle="dropdown"><%= @contest.name %><b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'For Contestant', contest_problems_path(@contest) %></li>
                        <li><%= link_to 'For Admin', admin_contest_problems_path(@contest) %></li>
                      </ul>
                    </li>
                  <% end %>
                <% else %>
                  <li><%= link_to @contest.name, contest_problems_path(@contest) %></li>
                <% end %>
                <li><a id='sec'></a><%= render :partial => "contests/timer" %></li>
              <% end %>
              <% if @authorized %>
                <% if @contest %>
                  <li><a>Score: <%= @current_user.group.score_for(@contest) %> </a></li>
                  <% unless @current_user.is_admin %>
                    <li><%= link_to 'Scoreboard', contest_score_path %></li>
                  <% end %>
                <% end %>
                <li class="dropdown">
                  <a href='#' class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.name_or_uid %><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Account', users_path %>
                    <li><%= link_to 'Group', group_path(@current_user.group) %>
                    <li><%= link_to 'Logout', logout_users_path, method: 'POST' %>
                  </ul>
              <% else %>
                <li><%= link_to 'Sign up', register_users_path %></li>
                <li><%= link_to 'Login', login_users_path %></li>
              <% end %>
              <li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <% if notice %>
        <div class="alert alert-success">
          <p id="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-error">
          <p id="alert"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>

      <footer>
        <p>&copy; AI-COMP 2014</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
