<!DOCTYPE html>
<html>
<head>
  <title>Wpcs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="headerWrapper">
  <h1>Waseda Programming Contest</h1>
  <ul>
    <li><%= link_to 'TOP', top_path %></li>
    <li><%= link_to 'CONTESTS', contests_path %></li>
    <li><%= link_to 'PROBLEMS', problems_path %></li>
  </ul>

  <%= link_to 'Sign up', register_users_path %><br />
  <%= link_to 'Login', login_users_path %><br />

  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

</div>

<%= yield %>

</body>
</html>
