<!DOCTYPE html>
<html>
<head>
  <title>Wpcs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="#">Waseda Programming Contest System</a>

        <div class='nav-collapse collapse'>
          <ul class='nav'>
            <li class=''><%= link_to 'CONTESTS', (@current_user.is_admin ? admin_contests_path : contests_path) %></li>
          </ul>
          <ul class='nav pull-right'>
            <% if @contest %>
              <% if @current_user.is_admin %>
                <% if @contest.name %>
                  <li><%= link_to @contest.name, admin_contest_problems_path(@contest) %></li>
                <% end %>
              <% else %>
                <li><%= link_to @contest.name, contest_problems_path(@contest) %></li>
              <% end %>
              <li><a id='sec'></a></li>
            <% end %>
            <% if @authorized %>
              <li><%= link_to (@current_user.name.presence or @current_user.uid), users_path %></li>
              <% if @contest %>
                <li><a>Score: <%= @current_user.group.score_for(@contest) %> </a></li>
              <% end %>
              <li><%= link_to 'Logout', logout_users_path, {:method=>'POST'} %></li>
            <% else %>
              <li><%= link_to 'Sign up', register_users_path %></li>
              <li><%= link_to 'Login', login_users_path %></li>
            <% end %>
            <li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <% if notice %>
      <div class="alert alert-success">
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-error">
        <p id="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
